<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    
    <add key="user" value="Asternof|Alekz|Hod|Focs|Z3us|G1psy|Serjaomata|jhonny|Nikz|sacul" />
    <add key="path" value="C:\Users\bruni\source\repos\Minerva e-sports\R6SCrawler\WorkFolder\"/>
    <add key="resultpath" value="C:\Users\bruni\source\repos\Minerva e-sports\R6SCrawler\ResultFolder\"/>
    
  </appSettings>
</configuration>