<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    
    <add key="user" value="uplay nick" />
    <add key="path" value="temporary folder"/>
    <add key="resultpath" value="result folder"/>
    
  </appSettings>
</configuration>
